<configuration>
    <dllmap dll="bgfx.dll" os="windows" target="Natives/bgfx.dll" />
    <dllmap dll="bgfx.dll" os="osx" target="Natives/libbgfx.dylib" />
    <dllmap dll="bgfx.dll" os="!windows,osx" target="Natives/libbgfx.so" />
    <dllmap dll="bgfx_debug.dll" os="windows" target="Natives/bgfx_debug.dll" />
    <dllmap dll="bgfx_debug.dll" os="osx" target="Natives/libbgfx_debug.dylib" />
    <dllmap dll="bgfx_debug.dll" os="!windows,osx" target="Natives/libbgfx_debug.so" />
</configuration>
