<configuration>
    <dllmap dll="bgfx.dll" os="windows" target="Natives/bgfx.dll" />
    <dllmap dll="bgfx.dll" os="osx" target="Natives/libbgfx.dylib" />
    <dllmap dll="bgfx.dll" os="!windows,osx" target="Natives/libbgfx.so" />
    <dllmap dll="bgfx_debug.dll" os="windows" target="Natives/bgfx_debug.dll" />
    <dllmap dll="bgfx_debug.dll" os="osx" target="Natives/libbgfx_debug.dylib" />
    <dllmap dll="bgfx_debug.dll" os="!windows,osx" target="Natives/libbgfx_debug.so" />
    <!-- yep, OpenAl"""32""" even though it's 64-bit... fun, eh? -->
    <dllmap dll="OpenAL32.dll" os="osx" target="/System/Library/Frameworks/OpenAL.framework/Versions/A/OpenAL" />
    <dllmap dll="OpenAL32.dll" os="!windows,osx" target="/usr/lib/libopenal.so.1" />
</configuration>
